* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.main {
  margin: 15px 150px 0;
  text-align: center;
  background-color: #deedf7;
  height: 80vh;
  border-radius: 5px;
}

nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav img {
  width: 80px;
}
nav ul {
  gap: 30px;
  display: flex;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #0000ff;
  font-size: 22px;
}
.container {
  margin-top: 150px;
}
h1 {
  line-height: 35px;
  color: #20bc7e;
  margin-bottom: 15px;
}
p {
  width: 40vw;
  text-align: center;
  margin: auto;
  font-size: 15px;
  line-height: 20px;
}
button {
    border: none;
  margin-top: 30px;
  padding: 5px 10px;
  width: 150px;
  border-radius: 10px;
  font-size: 20px;
  color: #20bc7e;
  box-shadow: 0 0 10px rgb(50, 49, 49);
}
.btn span {
    color: #000;
}
.gap {
    margin: 0 29px;
}